<h1>About Mentvel</h1>
<p>Mentvel is a public ideas list, brought to you by <a href="https://www.stlix.noho.st">Stylix58</a>.</p>
<p>He have made it originally for leat people to give ideas about everything to other people don't have much ideas.</p>