<h1>Ideas</h1>
<a class="btn btn-primary" href="/i/add">Add an idea</a>
<% ideas.forEach(function(idea){ %>
        <div class="idea">
            <h2>sss<%= idea.author %></h2>
        </div>
<% }); %>