.main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 1em;
    text-align: center;
}

h2 {
    font-size: 30px;
}

br {
    user-select: none;
}

form {
    display: inline-block;
}

.box {
    margin: 1em;
    padding: 1em;
    background-color: #333;
    border: solid 2px gray;
    border-radius: 15px;
}