<h1>Add an idea</h1>
<form action="/api/add" method="post" class="w-400 mw-full">
    <div class="form-group">
        <label for="idea">What is the idea?</label>
        <input type="text" class="form-control" id="idea" required="required" />
        <br />
        <label for="description">Describe your idea</label>
        <textarea class="form-control" id="description" required="required"></textarea>
        <br />
        <label for="author">What is the name who you want to be displayed as the author?</label>
        <input type="text" class="form-control" id="author" required="required" />
    </div>
    <!-- Submit button -->
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>