<h1><a href="/i">Ideas</a></h1>
<h2><%= db.get(id)["idea"] %></h1>
<div class="box">
    <h2>Description</h2>
    <p><%= db.get(id)["description"] %></p>
</div>
<div class="box">
    <h2>Author</h2>
    <p><%= db.get(id)["author"] %></p>   
</div>
